
/* Color pallet */
:root {
  --clr-page-header: #a0baed; /* SlateBlue; */
  --clr-background: #bcbcbc; /* Light gray */
  --clr-button: #007bff; /* bluish */
  --clr-text: #f4f4f4; /* whitish */
  --clr-menu-item: #464244; /* dark gray */
  --clr-menu-item-hover: #9c9097; /* gray */
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text);
}

header {
  background-color: var(--clr-page-header);
  padding: 10px 20px;
  color: Black;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0
}

ul li {
  background-color: var(--clr-menu-item);
  padding: 12px 8px 12px 40px;
  font-size: 24px;
  transition: 0.5s;
}

ul li:hover {
  background-color: var(--clr-menu-item-hover);
}



